
<div class="jumbotron jumbotron-fluid">
    <h1 align="center" class="display-6">ARTICLES</h1>
</div>
<div>
<%= render 'shared/articles', obj: @articles%>
<div align="center">

  <%= paginate @articles %>

</div>

