<div class="jumbotron jumbotron-fluid">
  <h3 align="center" class="display-6">ARTICLES</h3>
</div>

<%= render 'shared/articles', obj: @articles%>

<div align="center">
  <%= paginate @articles %>
</div>
