<div class="jumbotron"> 
  <h2 align="center" class="display-4">Welcome to VYNIL</h1>
  <hr class="my-4">
  <h3 align="center" class="lead"> This is a platform for people who love records! 
  <h3 align="center" class="lead"> Here we write about music, mainly 
  rock from 70's and 80's, but you can write about any genre and decade if you join us!
   Feel free to read ours articles and meet ours content creators!
  </h3>
  </h3>

 
</div>





